@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.container {
    background-color: black;
    color: white;
    padding: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid #31569129;
    border-radius: 30px;
    padding: 0px 10px;
}

.logo-bar img {
    height: 100px;
    width: 115px;
    border-radius: 30%;
}

.options-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 55%;
    gap: 4rem;
    padding: 14px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.021);
    box-shadow: 0 0 100px rgb(34, 107, 186);
    border-radius: 20px;
    outline: none;
    transition: all 3s linear 0s;
    justify-content: space-evenly;
    cursor: pointer;
}

.hidden {
    transform: 0.5s linear;
    display: none;
}

.cross {
    display: flex;
}

.active::after {
    height: 200px;
    width: auto;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
    color: white;
}

.options-bar a:last-child {
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 8%;
    gap: 4rem;
    padding: 14px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.021);
    box-shadow: 0 0 100px rgb(34, 107, 186);
    border-radius: 20px;
    outline: none;
    transition: all 3s linear 0s;
    justify-content: center;
    cursor: pointer;
}

.options-bar a {
    text-decoration: none;
    color: white;
}

/* From Uiverse.io by StealthWorm */
.nav-option:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    overflow: hidden;
    height: 2.5rem;
    background-size: 100% 100%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.1s linear;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),
        linear-gradient(137.48deg,
            #ffdb3b 10%,
            #fe53bb 45%,
            #8f51ea 67%,
            #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

@media (max-width: 1150px) {
    .logo-bar img {
        height: 70px;
        width: 97px;
    }

    .options-bar {
        gap: 0rem;
        width: 70%;
    }
}

@media (max-width: 550px) {
    .options-bar {
        flex-direction: column;
        /* stack vertically */
        align-items: center;
        width: 40%;
        height: auto;
        padding: 10px;
        gap: 1rem;
        position: absolute;
        top: 70px;
        /* below navbar */
        left: 270px;
        background: #000000c4;
        box-shadow: 0 0 20px rgb(34, 107, 186);
        z-index: 1;
    }
}

@media (max-width: 480px) {
    .options-bar {
        left: 230px;
    }
}

@media (max-width: 417px) {
    .options-bar {
        left: 190px;
    }
}

@media (max-width: 417px) {
    .options-bar {
        left: 190px;
    }
}

/* herosection */
.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding: 30px;
    gap: 2rem;
    margin-top: 2rem;
}

.container-img {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, fr)); responsive grid */
    grid-template-columns: 1fr 1fr;
    /* 2 equal columns */
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    /* space between images */
    padding: 1rem;
    max-width: 900px;
    margin: 0 auto;
    /* center container */
    opacity: 92%;
}

.container-img:hover {
    opacity: 100%;
}

.hero-img {
    width: 250px;
    height: auto;
    border-radius: 18px;
    border: 0.5px solid #1b5684;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

.hero-img:hover {
    transform: scale(1.05);
    /* slight zoom */
    /* box-shadow: 0 0px 30px rgba(255, 90, 145, 0.5); */
}

.only-text {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 1.2rem;
}

.hero-heading {
    font-size: 1.5rem;
}

.hero-heading::first-letter {
    font-size: 2.5rem;
    color: rgb(34, 107, 186);
    text-shadow: 0px 0px 13px rgb(34, 107, 186);
}

/* typewriting */
#typewriter {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(186, 34, 161);
    /* font-family: monospace; */
    border-right: 2px solid;
    /* cursor */
    text-shadow: 0px 0px 14px rgb(190, 9, 145);
    white-space: nowrap;
    overflow: hidden;
}

.hero-heading3 {
    font-size: 1.2rem;
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(191, 191, 191);
}

.hero-para {
    font-size: 0.8rem;
    margin-bottom: 20px;
    color: rgb(173, 173, 173);
}

.only-btn {
    display: flex;
    gap: 1rem;
    padding-left: 0px;
}

.btn-shop {
    color: rgb(208, 208, 208);
    background-color: rgb(25, 25, 25);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
}

.btn-shop:hover {
    animation: gradient_301 5s ease infinite;
    /* border: transparent 6px transparent; */
    /* border-color: #fe53bb; */
    color: white;
    transform: scale(1.03);
    box-shadow: 0px 0px 10px #fe53bb;
    outline: none;
    cursor: pointer;
    text-shadow: 0px 0px 2px;
}

.btn-sign {
    color: rgb(208, 208, 208);
    background-color: rgb(25, 25, 25);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

.btn-sign:hover {
    text-shadow: 0px 0px 2px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px rgb(34, 107, 186);
    transform: scale(1.03);
}


@media (max-width: 960px) {
    .hero-img {
        width: 210px;
    }

    hero-heading {
        font-size: 1.3rem;
    }

    .only-text {
        margin-top: 60px;
    }

    .hero-heading3 {
        font-size: 1rem;
    }

    .hero-para {
        font-size: 0.7rem;
    }
}

@media (max-width: 800px) {
    .hero-img {
        width: 170px;
    }

    .hero-heading3 {
        font-size: 1rem;
    }
}

@media (max-width: 780px) {
    .hero-section {
        display: flex;
        flex-direction: column;
    }

    .only-text {
        margin-top: -22px;
    }

    .container-text {
        margin: 0 160px;
    }
}

@media (max-width: 710px) {
    .container-text {
        margin: 0 67px;
    }
}

@media (max-width: 500px) {
    .hero-img {
        width: 140px;
    }

    .container-text {
        margin: 0 30px;
    }
}

@media (max-width: 440px) {
    .hero-img {
        width: 122px;
    }

    .container-text {
        margin: 0px 0px;
    }
}

/* cards */
.card-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.card-section h1 {
    margin-left: 55px;
    font-size: 2.1rem;
    /* text-shadow: 0px 0.5px 5px rgb(255, 254, 255); */
}

.card-section h1:hover {
    text-shadow: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* padding: 30px 40px; */
    margin: auto;
    /* border: 5px solid rgba(255, 255, 255, 0.078); */
    background-color: transparent;
    border-radius: 30px;
    /* box-shadow: 0px 0px 10px ; */
    width: 90%;
    gap: 14px;

}

/* From Uiverse.io by alexruix */
.card {
    --background: linear-gradient(to left, #c41ec1cf 0%, rgba(34, 107, 186, 0.86) 100%);
    width: 228px;
    height: 284px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    /* background: #f7ba2b; */
    background: var(--background);
    /* background: rgb(186, 34, 161); */
    position: relative;
    opacity: 90%;
    z-index: 1;
}

.card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    /* background: #b48d32; */
    background: var(--background);
    transition: opacity .5s;
}

.card:hover {
    background: none;
    transform: scale(1.3);
    transition: all 0.2s linear 0s;
}

.card-info {
    background: #202020;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
    padding: 20px;
}

.card-info h4 {
    font-size: 1.3rem;
    margin-bottom: 16px;
    margin-top: 16px;

}

.card-info p {
    font-size: 0.75rem;
    margin-bottom: 16px;
    color: rgb(152, 152, 152);
}

.card-info a button {
    color: rgb(208, 208, 208);
    background-color: rgb(25, 25, 25);
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

.card-info a button:hover {
    color: #03278b;
    box-shadow: 0px 0px 5px white;
}

@media (max-width: 990px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 780px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }

    .card-section h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 560px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
        margin-left: 90px;
    }

    .card-section h1 {
        font-size: 1.6rem;
    }
}

@media (max-width: 390px) {
    .cards {
        margin-left: 55px;
    }

    .card-section h1 {
        font-size: 1.5rem;
    }
}

/* collection */
.collection-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    margin-left: 60px;
    border-radius: 20px;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: 900px;
    width: 90%;
    /* border: 5px solid white; */
    /* border-bottom: 1px solid rgb(186, 34, 161); */
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(186, 34, 161);
    padding: 25px;
    overflow: hidden;
}

/* From Uiverse.io by reshades */
.card1 {
    width: 240px;
    height: 344px;
    background: linear-gradient(10deg, rgb(0, 0, 0) 0%, rgb(175, 3, 112) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    /* box-shadow: 0 0 10px rgb(248, 248, 248); */
}

.card1:hover {
    transform: scale(1.08);
    transition: all 0.2s linear 0s;
    /* box-shadow: none; */
}

.top {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 238px;
    height: 240px;
    /* overflow: hidden; */
}

.top img {
    height: 240px;
    border-radius: 5px;
}

.desc {
    display: flex;
    flex-direction: column;
    padding: 17px;
    gap: 0.5rem;
}

.card1 .desc p {
    margin-top: 11px;
    font-size: 0.8rem;
}

.card1-btn {
    color: rgb(208, 208, 208);
    background-color: rgb(25, 25, 25);
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

.card1-btn:hover {
    color: rgb(34, 107, 186);
    font-weight: 900;
}

@media (max-width: 1270px) {
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: auto;
    }
}

@media (max-width: 980px) {
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .card1 {
        width: 200px;
        height: 300px;
    }

    .top {
        width: 200px;
        height: 200px;
    }

    .top img {
        height: 201px;
        border-radius: 5px;
    }

    .card1 .desc p {
        margin-top: 3px;
        font-size: 0.7rem;
    }

    .card1-btn {
        font-size: 11px;
        padding: 5px;
    }
}

@media (max-width: 600px) {
    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card1 {
        width: 232px;
        height: 337px;
    }

    .top {
        width: 230px;
        height: 232px;
    }

    .top img {
        height: 231px;
        border-radius: 15px;
    }

    .card1 .desc p {
        margin-top: 7px;
        font-size: 0.8rem;
    }

    .card1-btn {
        font-size: 13px;
        padding: 9px;
    }
}

@media (max-width: 410px) {
    .main {
        width: 99%;
        margin-left: -30px;
    }
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    /* border: 2px solid pink; */
    /* border-bottom: 1px solid rgb(34, 107, 186) ; */
    box-shadow: -5px -5px 10px rgb(34, 107, 186);
    border-radius: 22px;
    padding: 30px;
    height: 400px;
}

.footer-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin-top: 30px;
}

.footer-card .footer-img {
    display: flex;
    flex-direction: column;
}

.footer-card .footer-img button {
    width: 120px;
}

.footer-img img {
    width: 100px;
    margin-top: -30px;
}

.footer-card:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: -120px;
}

.footer-card:nth-child(2) h4 {
    font-size: 0.9rem;
}

.footer-card:nth-child(2) h4:nth-child(1) {
    font-size: 1.2rem;
}

.footer-card:nth-child(2) span {
    font-size: 0.8rem;
    color: rgb(178, 178, 178);
    font-family: monospace;
}

.footer-card:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-card:nth-child(3) h4:nth-child(1) {
    font-size: 1.2rem;
}

.footer-card:nth-child(3) a {
    text-decoration: none;
}

.footer-card:nth-child(3) a p {
    color: rgb(179, 179, 179);
}

.footer-card:nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-card:nth-child(4) a {
    text-decoration: none;
}

.footer-card:nth-child(4) h4:nth-child(1) {
    font-size: 1.2rem;
}

.footer-card:nth-child(4) a p {
    text-decoration: none;
    color: rgb(179, 179, 179);
}

.footer-last {
    display: flex;
    justify-content: center;
    margin-top: 60px
}

.footer-last p {
    font-size: 0.8rem;
    color: rgb(139, 139, 139);
}

@media (max-width: 1000px) {
    .footer {
        height: auto;
    }

    .footer-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }

    .footer-last {
        display: flex;
        justify-content: left;
    }
}

@media (max-width: 820px) {
    .footer-last p {
        font-size: 0.7;
    }
}

@media (max-width: 530px) {
    .footer-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }

    .footer-card:nth-child(2) {
        margin-left: 0px;
    }
}

@media (max-width: 400px) {
    .footer-img img {
        margin-top: 0px;
    }
}

/* product page */


.Blog-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 3rem;
    padding: 2.3rem;
}

.Blog-container h1 {
    font-weight: 300;
    color: rgb(189, 189, 189);
}

.blog-card-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    overflow: hidden;
}

/* background of image */
/* From Uiverse.io by javadpg */
.main-blog-container:nth-child(2) {
    border-radius: 16px;
    box-shadow: 0 0 40px rgb(3, 104, 220);
    padding: 2rem;
}

.blog-card1:nth-child(1) {
    background-color: black;
    z-index: 0;
    height: 262px;
    width: 417px;
    border-radius: 18px;
    /* box-shadow: 0 0 30px rgb(186, 34, 161); */
    filter: blur(0.5px);
}

.blog-card1:nth-child(1):hover {
    box-shadow: none;
    transition: 0.7s;
    transform: scale(1.07);
    filter: none;
}

.blog-img {
    height: 262px;
    width: 407px;
    position: relative;
    /* ensures it stays above gradients */
    z-index: 1;
    /*force image above background*/
    border-radius: 18px;
}

.blog-desc {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.blog-desc h3 {
    font-size: 1.3rem;
    color: #afafaf;
}

.blog-desc p {
    font-size: 0.9rem;
    color: #909090;
}

.blog-check p {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

@media (max-width: 1190) {
    .blog-img {
        height: 230px;
        width: 360px;
    }

    .blog-desc p {
        font-size: 0.7rem;
    }
}

@media (max-width: 1190px) {
    .blog-img {
        height: 230px;
        width: 360px;
    }

    .blog-desc p {
        font-size: 0.7rem;
    }
}

@media (max-width: 868px) {
    .blog-card-container {
        flex-direction: column;
    }

    .blog-img {
        height: 260px;
        width: 400px;
    }

    .blog-desc p {
        font-size: 0.9rem;
    }
}

@media (max-width: 868px) {
    .blog-img {
        height: 230px;
        width: 360px;
    }

    .blog-desc p {
        font-size: 0.77rem;
    }

    .blog-card-container {
        gap: 0rem;
    }
}

@media (max-width: 560px) {
    .blog-card-container {
        padding: 1rem;
    }

    .blog-desc {
        margin-top: 0rem;
    }

    .blog-img {
        height: 190px;
        width: 320px;
    }
}

@media (max-width: 524px) {
    .blog-img {
        height: 160px;
        width: 260px;
    }

    .blog-card1:nth-child(1) {
        height: 220px;
    }
}

@media (max-width: 450px) {
    .main-blog-container:nth-child(2) {
        padding: 1rem;
    }

    .Blog-container {
        gap: 2.5rem;
        margin-top: 2rem;
        padding: 1rem;
    }
}

@media (max-width: 390px) {
    .main-blog-container:nth-child(2) {
        margin-left: -12px;
    }
}

/* contact page */
.Contact {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.Contact h1 {
    font-size: 2.2rem;
    font-weight: 300;
}

.contact-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    box-shadow: 0 0 50px rgb(186, 34, 161);
    border-radius: 20px;
}

.contact-avtar {
    width: 45%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 3rem;
    box-shadow: 0 0 50px rgba(34, 107, 186, 0.86);
    height: 530px;
    width: 500px;
    gap: 2.5rem;
    border-radius: 18px;
}

.contact-text {
    height: 45px;
    width: 400px;
    padding: 15px;
    border-radius: 23px;
    border-color: rgb(255, 0, 128);
}

.contact-textarea {
    padding: 10px;
    height: 105px;
    width: 400px;
    border-radius: 23px;
    border-color: rgb(255, 0, 128);
    overflow: hidden;
    resize: none;
}

.contact-btn {
    box-shadow: 0px 3px 5px rgba(169, 169, 169, 0.488);
}

.error {
    font-size: 0.8rem;
    font-family: monospace;
    color: rgba(255, 0, 0, 0.8);
    margin-top: 4px;
}

@media (max-width: 1090px) {
    .contact-avtar {
        width: 35%;
    }

    .contact-avtar img {
        height: 550px;
        margin-left: -60px;
    }
}

@media (max-width: 950px) {
    .contact-form {
        padding: 2rem;
        height: auto;
        width: 460px;
    }

    .contact-avtar img {
        height: 525px;
        width: 350px;
    }

    .contact-text {
        width: 380px;
    }

    .contact-textarea {
        width: 380px;
    }

    .contact-btn {
        width: 380px;
    }
}

@media (max-width: 920px) {
    .contact-avtar img {
        height: 465px;
        width: 300px;
        margin-top: 3rem;
    }

    .contact-avtar {
        width: 25%;
    }
}

@media (max-width: 800px) {
    .contact-form {
        width: 400px;
    }

    .contact-text {
        width: 345px;
    }

    .contact-textarea {
        width: 345px;
    }

    .contact-btn {
        width: 345px;
    }
}

@media (max-width: 700px) {
    .contact-avtar {
        display: none;
    }

    .contact-form {
        width: 460px;
    }

    .contact-text {
        width: 380px;
    }

    .contact-textarea {
        width: 380px;
    }

    .contact-btn {
        width: 380px;
    }

    .Contact {
        padding: 0.5rem;
    }
}

@media (max-width: 600px) {
    .contact-form {
        width: 400px;
    }

    .contact-text {
        width: 330px;
    }

    .contact-textarea {
        width: 330px;
    }

    .contact-btn {
        width: 330px;
    }
}

@media (max-width: 524px) {
    .contact-form {
        padding: 1rem;
        margin: 1rem;
        box-shadow: 0 0 20px rgba(34, 107, 186, 0.86);
    }
}

@media (max-width: 480px) {
    .contact-form {
        width: 320px;
    }

    .contact-text {
        width: 270px;
    }

    .contact-textarea {
        width: 270px;
    }

    .contact-btn {
        width: 270px;
    }
}

@media (max-width: 410px) {
    .contact-container {
        margin-top: 1rem;
        box-shadow: 0 0 20px rgb(186, 34, 161);
    }

    .contact-form {
        width: 285px;
    }

    .contact-text {
        width: 245px;
    }

    .contact-textarea {
        width: 245px;
    }

    .contact-btn {
        width: 245px;
    }
}

/* product1 page */
.product1 {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    padding: 3rem;
}

.product1-img img {
    height: 550px;
    width: auto;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgb(34, 107, 186);
}

.product1-desc {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    gap: 2rem;
}

.product1-heading {
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(231, 231, 231);
}

.product1-material {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(209, 209, 209);
}

.product1-para {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(184, 184, 184);
}

.product1-btn {
    margin-top: -10px;
}

/* for rating */
.rating {
    display: flex;
    gap: 5px;
    font-size: 2rem;
    cursor: pointer;
}

.star {
    color: gray;
    transition: color 0.3s;
}

.star.selected {
    color: gold;
}

@media (max-width: 1170px) {
    .product1-img img {
        height: 450px;
    }

    .product1-desc {
        margin-top: 1rem;
        gap: 1rem;
    }

}

@media (max-width: 930px) {
    .product1-img img {
        height: 400px;
    }

    .product1-desc {
        margin-top: 1rem;
        gap: 1rem;
    }

    .product1-heading {
        font-size: 1.5rem;
    }

    .product1-material {
        font-size: 1rem;
    }

    .product1-para {
        font-size: 0.8rem;
    }

    .rating {
        gap: 4px;
        font-size: 1.6rem;
    }
}

@media (max-width: 800px) {
    .product1-img img {
        height: 330px;
    }
}

@media (max-width: 720px) {
    .product1 {
        gap: 1rem;
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .product1-img img {
        height: 280px;
    }

    .product1 {
        padding: 1rem;
    }
}

/* for buy page */

/* checkout page */
.checkout-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 0 20px;
    width: 45%;
    height: auto;
    padding: 2rem;
    align-items: center;
    border-radius: 30px;
    margin-left: 24rem;
    margin-top: 4rem;
}
.blur{
    filter: blur(5px);
}
/* .hidden{
    display: none;
} */

.checkout-page h1 {
    font-size: 2rem;
    font-weight: 300;
    color: rgb(189, 189, 189);
}

.product1-email {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.product-email-para {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(184, 184, 184);
}

.product1-email-input {
    padding: 0.5rem;
    width: 420px;
    border-radius: 5px;
    border: 1px solid rgb(186, 34, 161);
}

/* .product1-email-input:nth-child(2){} */

.product1-ExpCvv {
    display: flex;
    gap: 1rem;
}

.product1-email1 {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.product1-date-input {
    width: 200px;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid rgb(186, 34, 161);
}

.product1-price-para {
    display: flex;
    gap: 12rem;
    box-shadow: 0 0 10px;
    border-radius: 0.5rem;
    padding: 2rem;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1040px) {
    .checkout-page {
        width: 60%;
        margin-left: 17rem;
    }
}

@media (max-width: 790px) {
    .checkout-page {
        width: 75%;
        margin-left: 8rem;
    }
}

@media (max-width: 640px) {
    .checkout-page {
        width: 85%;
        margin-left: 2rem;
    }
}

@media (max-width: 550px) {
    .checkout-page {
        width: 95%;
        margin-left: 1rem;
    }
}

@media (max-width: 500px) {
    .checkout-page {
        width: 100%;
        margin-left: 0rem;
    }
}

@media (max-width: 475px) {

    .checkout-page h1 {
        font-size: 1.6rem;
    }

    .product1-email-input {
        width: 350px;
    }

    .product1-date-input {
        width: 165px;
    }

    .product1-price-para {
        gap: 8rem;
        padding: 1rem;
    }
}
@media (max-width: 400px) {

    .checkout-page h1 {
        font-size: 1.5rem;
    }

    .product1-email-input {
        width: 300px;
    }

    .product1-date-input {
        width: 140px;
    }

    .product1-price-para p{
        font-size: 0.8rem;
    }
}

/* payment tab */
.product1-active, .product1-active1{
    font-size: 0.75rem;
    color: rgb(207, 0, 0);
}
.anchor-check{
    background-color: white;
    padding: 1rem;
    height: 70px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(186, 34, 161);
    display: none;  
    justify-content: center;
    align-items: center;
}
.anchor-check.show{
    display: flex;
    scroll-behavior: smooth;
}
@media (max-width: 810px) {
    .anchor-check{
        width: 410px;
    }
}
@media (max-width: 460px) {
    .anchor-check{
        width: 360px;
        font-size: 0.8rem;
    }
}
@media (max-width: 400px) {
    .anchor-check{
        width: 315px;
        font-size: 0.7rem;
    }
}

.contanier-login{
  margin: 85px;
  padding: 60px;
  width: 420px;
  display: flex;
  justify-content: center;
  height: 450px;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid #736d6d; */
  border-radius: 20px;
  box-shadow: 0px 0px 25px #012ca1;
  margin-left: 490px;
}
.login-heading{
    margin-bottom: 30px;
    color: rgb(153, 153, 153);
}
.container-login-input{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 350px;
    margin-top: 40px;
}
.login{
  padding: 8px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid rgba(51, 51, 51, 0.24);
  box-shadow: 0px 2px 10px;
  color: white;
  outline: none;
}
.login:hover{
    box-shadow: 0px 1px 4px;
    padding: 9px;
    behavior: smooth;
}
.login-btn{
    width: 100px;
    padding: 10px;
    border: 2px solid rgba(126, 126, 126, 0.323);
    border-radius: 20px ;
    margin-left: 115px;
    background-color: transparent;
    font-weight: 700;
    color: rgb(105, 105, 105);
    box-shadow: 0px 0px 10px #717171;
}
.login-btn:hover{
    box-shadow: 0px 0.3px 10px rgb(186, 34, 161);
    font-size: 0.9rem;
    color: #012ca1;
}
.login-para{
    color: rgb(197, 0, 0);
    font-size: 0.8rem;
    margin-top: -20px;
    margin-left: 20px;
}